<h3>Editing Editing Editing Editing</h3><br>
<h1><%= @recipe.name %></h1>

<form action="/recipes/<%=@recipe.id%>" method="post">
<input type="hidden" name="_method" value="patch" />
    <p>Recipe:<input type="text" name="recipe[name]" value="<%=@recipe.name%>"></p>
    <p>Description:<input type="text" name="recipe[description]" value="<%=@recipe.description%>"></p>
    <p>Ingredients:<input type="text" name="ingredient[name]" value="<%=@recipe.ingredient.name%>"></p>
<input type="submit" value="Modify Recipe" id="submit"/>
</form>
